<p id="notice"><%= notice %></p>

<p>
  <strong>Benficiary:</strong>
  <%= @payment.benficiary %>
</p>

<p>
  <strong>From:</strong>
  <%= @payment.from %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @payment.amount %>
</p>

<p>
  <strong>State:</strong>
  <%= @payment.state %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
